# Web (Next.js)
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_API_URL=http://127.0.0.1:8787
NEXT_PUBLIC_TREASURY=
NEXT_PUBLIC_PACK_MINT=
NEXT_PUBLIC_REWARD_MINT=

# API
PORT=8787
DATA_DIR=.data

# Indexer
RPC_URL=https://api.devnet.solana.com
API_URL=http://127.0.0.1:8787
MARKETPLACE_PROGRAM_ID=2zNCva3rSw2MeJqjVgih445iHtxvxyymS2vaUUJ3zpPj
